<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if @quotes.empty? %>
        No quotes added
      <%else%>
        <% @quotes.each do |quote| %>
          <div class="well well-lg">
            <div class="quote-body">
              <%= quote.text %>
            </div>
            <small><%= link_to "Comments", quote_path(quote) %></small>
          </div>

        <% end %>
      <%end%>
      <div class = 'flickr_pagination'>
        <%= will_paginate @posts %>
      </div>
    </div>
  </div>
</div>
